<div id="search-bar-container">
    <div id="header-top-line">
        <div id="explanation-phrase-container">
            <h2 class="explanation-phrase">{{explainationPhrases[1]}}</h2>
        </div>
    </div>
    <div id="header-middle-line">
        <div id="main-header-container">
            <h1 id="main-header">{{header}}</h1>
        </div>
        <div class="search-bar"></div>
        <div id="ending-phrase-container">
            <h1 id="ending-phrase">{{endingPhrase}}</h1>
        </div>
    </div>
    <div id="header-bottom-line">
        <div id="explanation-phrase-container">
            <h2 class="explanation-phrase">{{explainationPhrases[0]}}</h2>
        </div>
    </div>   
</div>